.footer {
  padding-block: 40px;
  background-color: #09304a;

  &__logo {
    margin-bottom: 30px;
  }

  &__container {
    @media only screen and (min-width: 1366px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__social {
    margin-right: 44px;
    display: flex;
    align-items: center;
    gap: 28px;
    color: #fff;
    font-family: 'BPG Mrgvlovani Caps 2010';
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media only screen and (min-width: 1366px) {
      flex-direction: row;
      align-items: center;
      gap: 28px;
    }

    a {
      font-family: 'BPG Mrgvlovani Caps 2010';
      font-size: 16px;
      color: #ffd48f;
      text-decoration: none;
    }
  }

  &__links-more {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media only screen and (min-width: 1366px) {
      flex-direction: row;
      align-items: center;
      gap: 28px;
    }
  }

  &__disclaimer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    @media only screen and (min-width: 1366px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__copy {
    font-family: 'BPG Mrgvlovani 2010';
    font-size: 14px;
    color: hsl(0 0% 100% / 0.58);
    text-align: center;

    @media only screen and (min-width: 1366px) {
      text-align-last: left;
    }
  }

  &__created-by {
    font-family: 'FiraGO';
    font-size: 14px;
    color: hsl(0 0% 100% / 0.58);

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__nav {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 22px;

      @media only screen and (min-width: 1366px) {
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: hsl(0 0% 100% / 0.4);
}
