.header {
  padding-block: 20px;
  background-color: #09304a;

  @media only screen and (min-width: 1366px) {
    padding-block: 40px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-control {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;

  svg {
    fill: #fff;
  }

  @media only screen and (min-width: 1366px) {
    display: none;
  }
}

.nav-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;

  svg {
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  @media only screen and (min-width: 1366px) {
    display: none;
  }
}
