.municipality {
  margin-bottom: 90px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  @media only screen and (min-width: 1200px) {
    grid-template-columns: 333px 1fr 333px;
    min-height: 720px;
    max-height: 720px;
  }

  [data-tab-content] {
    display: none;
  }

  .active[data-tab-content] {
    display: grid;
  }
}

.municipality-heading {
  position: relative;
  z-index: 1000;
  margin-top: -80px;
  margin-bottom: 40px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media only screen and (min-width: 992px) {
      flex-direction: row;
      align-items: flex-end;
      gap: 20px;
    }
  }

  h1 {
    font-family: 'BPG Mrgvlovani Caps 2010';
    font-size: 30px;
    font-weight: 400;
    color: #09304a;
    text-align: center;

    @media only screen and (min-width: 992px) {
      text-align: left;
    }
  }
}

.parties,
.committees {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  z-index: 1000;

  &__heading {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'BPG Mrgvlovani Caps 2010';
    color: #ffffff;
    font-size: 18px;
    background: #062135;
    padding: 0 27px;
  }
}

.assembly {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'BPG Mrgvlovani Caps 2010';
    color: #ffffff;
    font-size: 18px;
    background: #2688c5;
  }

  &__container {
    padding: 30px 37px;
    max-height: 420px;
    overflow-y: auto;
    background: #ffffff;

    @media only screen and (min-width: 1200px) {
      max-height: 660px;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background: #e3e3e3;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #cacaca;
    }
  }
}

.parties__list {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  @media only screen and (min-width: 1200px) {
    overflow-y: auto;
    max-height: 660px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background: #e3e3e3;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #cacaca;
    }
  }
}

.committee-list {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  row-gap: 1px;

  @media only screen and (min-width: 1200px) {
    overflow-y: auto;
    max-height: 660px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background: #e3e3e3;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #cacaca;
    }
  }
}

.party {
  &.active {
    button {
      background-color: #2688c5;

      span {
        color: #fff;
        font-weight: 500;
      }
    }
  }

  button {
    padding: 0 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
    background: #fff;
    border: none;
    min-height: 60px;

    font-family: 'BPG Mrgvlovani Caps 2010';
    font-size: 14px;
    color: #062135;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    @media only screen and (min-width: 1200px) {
      min-height: 132px;
    }

    span {
      text-align: left;
    }
  }
}

.committee {
  padding: 0 30px;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  background: #fff;

  @media only screen and (min-width: 1200px) {
    min-height: 130px;
  }

  a {
    font-family: 'BPG Mrgvlovani Caps 2010';
    font-size: 14px;
    color: #062135;
    text-decoration: none;
    transition: color 0.1s ease-in-out;

    &:hover {
      color: #2688c5;
    }
  }
}

.assembly-members-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;

  @media only screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
